<div class="card shadow-sm">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="persona.image" class="img-fluid rounded-start" alt="{{ persona.title }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ persona.title }}</h5>
        <p class="card-text">{{ persona.description }}</p>

        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
           <button class="btn btn-outline-danger btn-check ">Editar</button>
            <button  class="btn btn-outline-danger btn-sm mx-2">Eliminar</button>
          </div>
          <button class="btn btn-outline-danger btn-check">Volver</button>
        </div>

        <p class="card-text">
        </p>
      </div>
    </div>
  </div>
</div>

